<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat de Prueba</title>
  <link rel="stylesheet" href="style/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body id="mainBody">

  <h1 id="mainTitle">The Char Chat </h1>

  <div #myRooms></div>
  <div id="app">
    <!--Login-->
    <div v-if="state == 0" id="mainScreen"> <!--mainscreen es la pantalla de login.-->
      <h2>Bienvenido!</h2>
      <form @submit.prevent="groupLogin">
        <input type="text" placeholder="Nombre de Usuario" v-model="username" /><br><br>
        <input type="password" placeholder="Contraseña" v-model="password"><br><br>
        <input type="submit" value="Entrar" />
      </form>
      <a href="#" @click="goToRegister">¿Aun no tienes cuenta?</a>
      <br><br><br>
    </div>

    <!-- Registrarse -->
    <div v-if="state == 3" id="registration">
      <h2>Portal de Registro</h2>
      <form @submit.prevent="groupRegister">
        <input type="text" placeholder="Nombre de Usuario" v-model="usernameR" /><br><br>
        <input type="password" placeholder="Contraseña" v-model="passwordR"><br><br>
        <a href="#" @click="backToLogin">ya tienes cuenta?</a><br><br>

        <input type="submit" value="Registrarse" />
      </form>

    </div>

    <!-- Crear Salas-->
    <div v-if="state == 1" id="roomScreen">
      <ul id="roombox">
        <div v-if="roomListEmpty" id="secondScreenRoomList">
          <h2>Salas Disponibles</h2>
          <li v-for="room in rooms" :key="room.nombre">
            <input type="radio" :id="room.nombre" :value="room.nombre" v-model="selectedRoom">
            <label :for="room">{{ room.nombre }}</label>
          </li>
          <br>
          <button @click="groupJoin">Entrar a la Sala</button>
          <hr>
        </div>
        <br><br>

      </ul>

      <form @submit.prevent="groupCreate">
        <h2>Crear Nueva Sala</h2>
        <input type="text" placeholder="Introduce Nombre De Sala" v-model="roomName" />

        <input type="submit" value="Crear Sala">
      </form>
    </div>

    <!-- Mensajes-->
    <div v-if="state == 2">


      <!--=================================================-->
      <div id="chatContainer">
        <div id="myRooms">
          <h3> Rooms</h3>
          <li v-for="salas in salasFromUser">
            <a>{{ salas }}</a>
          </li>
        </div>
        <div id="chatScreen">
          <h2 class="roomTitle" v-if="selectedRoom!= ''">Sala: {{selectedRoom}}</h2>
          <h2 class="roomTitle" v-if="roomName!= ''">Sala: {{roomName}}</h2>
          <ul id="chatbox">
            <li v-for="message in messages">
              <div id="msg_message" v-if="message.nombre==username" class="sender">
                <b><a @click="asignarAdmin(message.user.id)">{{ message.nombre }}</a></b><br>
                <button id="btn_del" @click="deleteMessage(message.id)">{{ message.mensaje}}<br></button>
              </div><br>
              <div id="msg_message" v-if="message.nombre!=username" class="received">
                <b><a>{{ message.nombre }}</a></b><br>
                <button id="btn_del" @click="deleteMessage(message.id)">{{ message.mensaje}}<br></button>
              </div><br>
            </li>
          </ul>
          <input v-on:keyup.enter="handleEnterKey" type="text" placeholder="Mensaje..." v-model="message" />
          <button @click='sendMessage'>Enviar</button>
          <div class="btn_container">
            <button @click="groupBackToMenu" class="backToMenu">Salas</button>
            <button @click="groupAbandonar" class="leaveTheRoom">Abandonar Sala</button>
          </div>
        </div>
        <div id="activeUsersOfRoom">
          <h3>Active Users Of The Room</h3>
          <li v-for="users in activeUsers">
            <a @click="asignarAdmin(users)"> {{ users }}</a>
          </li>
        </div>
      </div>
    </div>
  </div>


  <script src="/scripts/client.js"></script>
</body>

</html>