<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat de Prueba</title>
  <link rel="stylesheet" href="style/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/vuetify@2.6.10/dist/vuetify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-confetti@0.9.0/dist/js-confetti.browser.js"></script>
  <link href="https://fonts.cdnfonts.com/css/bebas-neue" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.js"></script>
  <script src="https://unpkg.com/split-type"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <script src="https://unpkg.com/vue-chartjs@2.8.7/dist/vue-chartjs.full.min.js"></script>

  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
  <h1>XAT</h1>
  
  <div id="app">
    <div v-if="state == 0">
      <h3>Elige una sala</h3>
      <form @submit.prevent="setUsername">
        <input type="text" placeholder="Nombre de la sala..." v-model="username" />
        <input type="submit" value="Create" />
      </form>
      <button @click="continueWithoutUsername">Entra como invitado</button>
    </div>
    <div v-if="state == 1">
      <h3>Escribe tu nombre de usuario</h3>
      <form @submit.prevent="setUsername">
        <input type="text" placeholder="Username..." v-model="username" />
        <input type="submit" value="Join" />
      </form>
      <button @click="continueWithoutUsername">Entra como invitado</button>
    </div>
    <div v-if="state == 2">
      <ul id="chatbox">
        <li v-for="message in messages">
          <b>{{ message.user }}</b>: {{ message.message}}
        </li>
      <form @submit.prevent="sendMessage">
        <input type="text" placeholder="Message..." v-model="message"/>
        <input type="submit" value="Send">
      </form>
      </ul>
    </div>
  </div>
  <script>
    var socket = null;
    var app = new Vue({
      el: '#app',
      data:{
        message:'',
        messages: [],
        username: '',
        roomName: '',
        state: 0
      },
      methods:{
        sendMessage: function(){
          socket.emit('message', this.message, this.roomName);
          this.message = '';
        },
        setUsername: function(){
          socket.emit('join', this.username);
          this.username = '';
          this.state = 1;
        },
        continueWithoutUsername: function(){
          socket.emit('join', null);
          this.state = 1;
        },
        createRoom: function(){
          socket.emit('createRoom', this.roomName);
        }
      },
      created: function(){
        socket = io();
      },
      mounted: function(){
        socket.on('message', function(message){
          app.messages.push(message);
          app.$nextTick(function (){
            var messageBox = document.getElementById('chatbox');
            messageBox.scrollTop = messageBox.scrollHeight;
          })
        })
      }
    })
  </script>
  
</body>
</html>